<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="25" android:versionName="2.05.8295" android:installLocation="auto" package="com.bv.wifisync"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:theme="@style/LightThemeSelector" android:label="@string/app_name" android:icon="@drawable/sync_phone" android:description="@string/app_description" android:backupAgent=".Backup" android:allowBackup="true">
        <receiver android:name=".Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".WifiConnectReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ChargeConnectReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIrHDvGdyLSoDHNAnZuNKQw0Vy2v6COI94mJKaeQ" />
        <activity android:name=".Hosts" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/app_name" android:name=".Shortcut" android:targetActivity=".Hosts">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity-alias>
        <service android:icon="@drawable/sync_phone" android:name=".SyncService" android:exported="false" android:description="@string/service_description" />
        <activity android:icon="@drawable/comp" android:name=".AddHost" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/msfolder" android:name=".AddJob" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/msfolder" android:name=".DirBrowser" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".EnumBrowser" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/comp" android:name=".HostBrowser" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/settings" android:name=".Settings" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/history" android:name=".HistoryBrowser" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/file" android:name=".FilesView" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/pics_folder" android:name=".ImageGroup" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/music_folder" android:name=".Mp3Group" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/filter" android:name=".AddFilter" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/filter" android:name=".MultiSelectDirBrowser" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/router_active" android:name=".AddRouter" android:configChanges="keyboardHidden|orientation" />
        <activity android:icon="@drawable/schedule" android:name=".AddSchedule" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".AddExtensions" android:configChanges="keyboardHidden|orientation" />
    </application>
</manifest>